#!/bin/bash
#SBATCH -n 1
#SBATCH -c 4
#SBATCH --gpus 1
#SBATCH -t {{ time_limit }}
#SBATCH -A {{ account }}
#SBATCH -p gpu
module load GPU/buildenv-nvhpc/25.9-cu13.0
apptainer exec --nv {{ container_image }} python3 experiments/run_single.py --config {{ config_path }}
